    <header>
        <div class="pic"><img src="../img/pic.jpg" alt="Jefferson Pineda"></div>
        <div class="nombre">
            <p>
                <span>{{nombre}}</span> Desarrollador web
            </p>
        </div>
    </header>
</body>

</html>