<div class="skills">
    <div class="white">
        <div class="progressCircle">
            <div class="container">
                <div class="titulo">
                    <p>FRONT END</p>
                </div>
                <!-- nueva tarjeta -->
                <div class="card">
                    <div class="box">
                        <div class="percent">
                            <svg>
                            <circle id="perillaPorcentaje" cx='70' cy='70' r='70'></circle>
                            <circle id="perillaPorcentaje" cx='70' cy='70' r='70'></circle>
                        </svg>
                            <div class="number">
                                <h2>90<span>%</span></h2>
                            </div>
                        </div>
                        <h2 class="text">HTML</h2>
                    </div>
                </div>

                <!-- nueva tarjeta -->
                <div class="card">
                    <div class="box">
                        <div class="percent">
                            <svg>
                            <circle cx='70' cy='70' r='70'></circle>
                            <circle cx='70' cy='70' r='70'></circle>
                        </svg>
                            <div class="number">
                                <h2>70<span>%</span></h2>
                            </div>
                        </div>
                        <h2 class="text">CSS</h2>
                    </div>
                </div>

                <!-- nueva tarjeta -->
                <div class="card">
                    <div class="box">
                        <div class="percent" id="percent">
                            <svg id="circulo">
                            <circle id="perillaPorcentaje" cx='70' cy='70' r='70'></circle>
                            <circle id="perillaPorcentaje" cx='70' cy='70' r='70'></circle>
                        </svg>
                            <div class="number">
                                <h2>50<span>%</span></h2>
                            </div>
                        </div>
                        <h2 class="text">JAVASCRIPT</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dark">
        <div class="progressCircle">
            <div class="container">
                <div class="titulo">
                    <p>BACK END</p>
                </div>
                <!-- nueva tarjeta -->
                <div class="card">
                    <div class="box">
                        <div class="percent">
                            <svg>
                                <circle id="perillaPorcentaje" cx='70' cy='70' r='70'></circle>
                                <circle id="perillaPorcentaje" cx='70' cy='70' r='70'></circle>
                            </svg>
                            <div class="number">
                                <h2>60<span>%</span></h2>
                            </div>
                        </div>
                        <h2 class="text">JAVASCRIPT</h2>
                    </div>
                </div>

                <!-- nueva tarjeta -->
                <div class="card">
                    <div class="box">
                        <div class="percent">
                            <svg>
                                <circle cx='70' cy='70' r='70'></circle>
                                <circle cx='70' cy='70' r='70'></circle>
                            </svg>
                            <div class="number">
                                <h2>70<span>%</span></h2>
                            </div>
                        </div>
                        <h2 class="text">MONGODB</h2>
                    </div>
                </div>

                <!-- nueva tarjeta -->
                <div class="card">
                    <div class="box">
                        <div class="percent" id="percent">
                            <svg id="circulo">
                                <circle id="perillaPorcentaje" cx='70' cy='70' r='70'></circle>
                                <circle id="perillaPorcentaje" cx='70' cy='70' r='70'></circle>
                            </svg>
                            <div class="number">
                                <h2>65<span>%</span></h2>
                            </div>
                        </div>
                        <h2 class="text">NODEJS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>